h1{
  color: #000000;
  border: 5px solid #FFE;
  }


li{
  color: rgb(255,50,90);
}

h4{
  color: rgba(200,255,155,1);
  background: rgba(100,100,255,.5);
}

body{
  background: url(http://images.fineartamerica.com/images-medium-large/recycled-wood-grain-michael-morgan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}