<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
        <link href=/assets/style.css type=text/css rel=stylesheet />
    </head>
    <body>
        <h1>Person <%= id %></h1>
        <h2>First Name: <%= firstName %></h2>
        <h2>Last Name: <%= lastName %></h2>
        <h2>Address: <%= address %></h2>
    </body>
</html>