<% include partials/header %>

<h1>Welcome the the HomePage</h1>
<h2>There is more to come!</h2>
<img src="http://pomskypals.com/wp-content/uploads/2012/07/White-and-Grey-Pomsky.jpg">

<% include partials/footer %>