<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
        <link href=/assets/style.css type=text/css rel=stylesheet />
    </head>
    <body>
        <h1>Person: <%= ID %></h1>
        <h2>Query String Value: <%= Qstr %></h2>
    </body>
</html>